## Bicycle Dataset

In [73]:
import pandas as pd
bic_data = pd.read_csv('data\citibike-tripdata.csv')
bic_data.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [74]:
bic_df = bic_data.copy()
# temp=0
# for k in bic_df['start station id'].notna():
#     if not k:
#         temp +=1
# temp
bic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [75]:
print(bic_df['start station id'].mode())
print(bic_df['bikeid'].mode())

0    281.0
Name: start station id, dtype: float64
0    33887
Name: bikeid, dtype: int64

In [76]:
print(bic_df['usertype'].value_counts(normalize=True))
print(bic_df[bic_df['gender'] == 1].shape[0])  # males

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64
183582

In [77]:
print(bic_df['start station id'].unique().size)
print(bic_df['end station id'].unique().size)
display(bic_df['birth year'].max())
print(bic_df['start station name'].value_counts())
print(bic_df['end station name'].mode())
# bic_df['start station name'].describe(include=object)

760
766

2002

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64
0    West St & Chambers St
Name: end station name, dtype: object

In [78]:
bic_df.drop(['start station id', 'end station id'], axis=1, inplace=True)

In [79]:
bic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [87]:
bic_df['age'] = 2018 - bic_df['birth year']
bic_df.drop(['birth year'], axis=1, inplace=True)
bic_df[bic_df['age']>60].shape[0]

11837

In [99]:
bic_df['starttime'] = pd.to_datetime(bic_df['starttime'])
bic_df['stoptime'] = pd.to_datetime(bic_df['stoptime'])
bic_df['trip duration'] =  bic_df['stoptime']  - bic_df['starttime']
bic_df['trip duration']

0        0 days 00:27:15.365000
1        0 days 00:02:12.200000
2        0 days 00:55:37.898000
3        0 days 00:07:16.837000
4        0 days 02:20:57.993000
                  ...
299995   0 days 00:07:23.648000
299996   0 days 00:11:33.138000
299997   0 days 00:05:12.997000
299998   0 days 00:56:00.092000
299999   0 days 00:03:45.051000
Name: trip duration, Length: 300000, dtype: timedelta64[ns]

In [105]:
bic_df['weekend'] = bic_df['starttime'].dt.dayofweek.apply(lambda x: 1 if x == 5 or x == 6 else 0 )
bic_df['weekend'].value_counts()

0    184865
1    115135
Name: weekend, dtype: int64

In [111]:
def daytime(h):
    if 0 <= h <=6:
        return 'night'
    if 6 < h <=12:
        return 'morning'
    if 12 < h <=18:
        return 'day'
    if 18 < h <= 23:
        return 'evening'
bic_df['time_of_day'] = bic_df['starttime'].dt.hour.apply(daytime)
print(bic_df['time_of_day'].value_counts())
143012/15085

day        143012
morning     95530
evening     46373
night       15085
Name: time_of_day, dtype: int64

9.480411004308916