In [27]:
import pandas as pd
pd.__version__

'1.4.3'

## Series

In [49]:
def create_medications(names, counts):
    return pd.Series(data=counts, index=names)


def get_percent(medications, name):
    """
    А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара
    с именем name от общего количества товаров в поставке в процентах.
    """
    display(medications)
    return medications[name]/sum(medications)*100


if __name__ == '__main__':
    names = ['chlorhexidine', 'cyntomycin', 'afobazol']
    counts = [15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine"))  # 37.5

chlorhexidine    15
cyntomycin       18
afobazol          7
dtype: int64

37.5

In [59]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)
print(countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']])
print(countries_df.iloc[4:7,1:3])

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902
    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [71]:


def create_companyDF(income, expenses, years):
    """
    Создайте функцию create_companyDF(income, expenses, years), которая  возвращает DataFrame, 
    составленный из входных данных со столбцами “Income” и “Expenses” и индексами, соответствующим годам рассматриваемого периода.
    """
    df = pd.DataFrame({'Income': income, 'Expenses': expenses}, index=years)
    display(df)
    return df


def get_profit(df, year):
    """
    А также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанных в таблице df, за год year.
    Учтите, что если информация за запрашиваемый год не указана в вашей таблице вам необходимо вернуть None. 
    """
    try:
        profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    except KeyError:
        return None
    return profit


if __name__ == '__main__':
    expenses = [156, 130, 270]
    income = [478, 512, 196]
    years = [2018, 2019, 2020]

    scienceyou = create_companyDF(income, expenses, years)
    print(get_profit(scienceyou, 2020))  # -74

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270

-74