In [50]:
import pandas as pd
import numpy as np

In [51]:
data = pd.read_csv('data/ErrorEnCoding (2).csv', header=None, encoding='KOI8-R')
data

            0                           1             2
0   User_943         Accumanst@gmail.com         Ижевск
1   User_908           Advismowr@mail.ru         Ижевск
2   User_962             Anachso@ukr.net      Краснодар
3   User_973            Antecia@inbox.ru          Пермь
4   User_902          Balliaryva@ukr.net
..        ...                         ...           ...
95  User_959    UpdatesCurious@yahoo.com         Тюмень
96  User_901          V2artierso@mail.ru    Арзангелтск
97  User_970            Vashoterlo@bk.ru        Воронеж
98  User_965         Visuareda@yahoo.com        Воронеж
99  User_921                Aavast@ya.ru         Ижевск

[100 rows x 3 columns]

In [52]:
# Импортируем субмодуль chardet.universaldetector
from chardet.universaldetector import UniversalDetector
detector = UniversalDetector()
with open('data/ErrorEnCoding (2).csv', 'rb') as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break
detector.close()

{'encoding': 'KOI8-R', 'confidence': 0.8773902118791048, 'language': 'Russian'}

In [53]:
data = pd.read_table(
    'https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv', sep=',')
display(data.shape[0])
# read_csv также работает напрямую с архивами zip, если там не более одного файла

18396

In [54]:
compression_opts = dict(method='zip', archive_name='out.csv') # Определяем параметры архивирования — метод сжатия, имя файл в архиве
# data.to_csv('data/out.zip', index=False, compression=compression_opts)

## Exel work

In [55]:
grades = pd.read_excel('data/grades.xlsx', sheet_name='Maths')
display(grades)
# grades.to_excel('data/grades_new.xlsx')
# grades.to_excel('data/grades_new.xlsx', sheet_name='Example', index=False) # Сохраняем данные из DataFrame grades в файл grades_new.xlsx (на листе 'Example') в папке data

   Student ID Student name  Grade
0           1          Аня      8
1           2         Катя      9
2           3         Маша      7
3           4         Миша      4
4           5         Женя      8
5           6          Оля      9
6           7         Витя      8
7           8         Дима      7
8           9         Витя      5

In [56]:
rate = pd.read_excel('data/ratings+movies.xlsx', sheet_name='ratings')
movies = pd.read_excel('data/ratings+movies.xlsx', sheet_name='movies')

In [57]:
# display(rate, movies)
merged = rate.merge(
    right=movies,
    on='movieId',
    how='left'
)
merged.shape[0]

100836

## JSON Work

In [58]:
import json
from pprint import pprint # Импортируем функцию pprint()